*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,body
{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
@font-face {
    font-family: Pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family:Origin;
    src: url(./fonts/Origin-Regular.otf);
}
#container
{
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    fill:rgba(187, 159, 0, 0.68);
    background-size:500px;
    background-repeat:repeat;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st2{fill:rgba(187, 159, 0, 0.68)} %3C/style%3E%3Cg style='display:none'%3E%3Cpath style='display:inline;fill:%23808080' d='M-10-12h522v522H-10z' id='Layer_1'/%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cpath class='st2' d='M113.3 136c-2.6-4.6-5.1-8.9-3.3-13.7.5-1.5 1.6-2.5 2.9-3.8 1.5-1.4 3.1-3 3.9-5.3.9-2.7.5-5.8.2-8.5-.2-1.5-.4-3-.4-4.2 0-.7.1-1.3.1-2 .2-4.5.5-9.1-1-13-1.6-4.2-5-6.8-10.1-7.5-1-7-11.9-10.6-15.5-11.6-6.5-1.8-8.6-.7-13.6 1.9l-.8.4c-5.5 2.1-11.6 13.9-11.4 18.8.1 2.9 1.6 5.3 3.1 7.6 1 1.6 2 3.1 2.4 4.7.2.7.1 1.4 0 2.1-.2 1.2-.4 2.8.5 4.7.8 1.7 2.6 2.9 4.2 4.1.7.5 1.3.9 1.7 1.3.3.3.9 1.1 1.4 1.7.7.8 1.1 1.3 1.5 1.7 1.5 1.4 3.2 2.5 4.9 3.6 1.3.9 2.6 1.7 3.7 2.6 2.3 2 2.6 3.3 3 5.7.3 1.4.6 3.2 1.4 5.4.5 1.3 1 2.3 1.5 3 .7 1.3 1.1 2 1.2 4.3-.3 1.2-1.7 6.2-2.1 7.2-.3.5-.3 1.1-.1 1.6 1.7 4.7 5.1 4.8 7.6 4.9 1.1 0 2.2.1 3.1.5.8.4 1.6 1 2.3 1.7 1.1 1 2.4 2.1 4.1 2.1.2 0 .4 0 .7-.1 1.9-.3 3.5-1.9 5.5-5.4.4-.6.6-1.3.9-1.9.1-.2.2-.4.2-.6 1.5-4.9-1.3-9.7-3.7-14zM51.2 88c-2.7-.6-5.4-1.1-8.1-1.7-1.9-.4-2.7 2.5-.8 2.9 2.7.6 5.4 1.1 8.1 1.7 1.9.3 2.7-2.6.8-2.9zM55.2 56.8c-.8-1.8-3.4-.2-2.6 1.5 1.8 4 4 7.6 6.8 11 1.2 1.5 3.3-.6 2.1-2.1-2.5-3.2-4.6-6.6-6.3-10.4zM82.8 50.9c-.7.2-1.3 1.1-1 1.8.1.2.1.4.2.5v.1c-.5.4-.8 1-.6 1.6.2.8 1.1 1.3 1.8 1 1.8-.5 2.1-2.6 1.5-4.1-.3-.6-1-1.1-1.9-.9zm-.9 2.8v-.2.2zM105.8 52.2c-2.7 3.3-4.6 7.1-5.3 11.4-.3 1.9 2.6 2.7 2.9.8.6-3.7 2.1-7.1 4.5-10.1 1.3-1.5-.8-3.6-2.1-2.1zM122.1 72.8c-.4-.7-1.3-.9-2.1-.5l-1.8.9c-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5l1.8-.9c.7-.4.9-1.4.5-2.1zM57.6 111.5c-1 .5-2.1 1.1-3.1 1.6-.7.4-.9 1.4-.5 2.1.4.7 1.3.9 2.1.5 1-.5 2.1-1.1 3.1-1.6.7-.4.9-1.4.5-2.1-.5-.7-1.4-.9-2.1-.5zM390.2 383.2c-.9-2.9-1.8-5.8-2.6-8.7-.6-1.8-3.5-1.1-2.9.8.9 2.9 1.8 5.8 2.6 8.7.6 1.9 3.5 1.1 2.9-.8zM424.9 390.8c1.8-.6 2.5-3 3.2-4.5.7-1.8 1.4-3.6 1.9-5.4.5-1.9-2.4-2.7-2.9-.8-.4 1.3-.8 2.7-1.3 4-.3.9-.6 1.7-1 2.6-.2.4-.4.7-.6 1.1-.1.3-.6.4 0 .2-1.9.5-1.1 3.4.7 2.8zM441.3 402.1c1.1-.8 2.3-1.7 3.4-2.5.7-.5 1-1.3.5-2.1-.4-.6-1.4-1-2.1-.5-1.1.8-2.3 1.7-3.4 2.5-.7.5-1 1.3-.5 2.1.4.6 1.4 1 2.1.5zM370.8 414.8c-1.8-2.6-4.7-3.7-7.8-3.2-1.9.3-1.1 3.2.8 2.9 1.7-.3 3.4.4 4.4 1.8 1.1 1.6 3.7.1 2.6-1.5zM457.7 427.7c2.2-.7 4.4-1.4 6.7-2 1.8-.6 1.1-3.5-.8-2.9-2.2.7-4.4 1.4-6.7 2-1.8.6-1 3.5.8 2.9zM371.7 396.6c-3.1-2.5-6.2-4.9-9.3-7.4-1.5-1.2-3.6.9-2.1 2.1 3.1 2.5 6.2 4.9 9.3 7.4 1.5 1.2 3.6-.9 2.1-2.1zM219.3 205.6c-.4-.7-1.2-1.2-2-1.1-.8.1-1.5.7-1.7 1.5 0 .2-1.3 4.4-8.7 7.6-4 1.7-6.4 3.9-7.2 6.4-.8 2.6.4 4.5.5 4.6l53.1 88.2c.2.4 1.4 2.3 3.8 2.9.5.1.9.2 1.4.2 1.4 0 2.8-.5 4.3-1.4 1.7-1.1 2.9-2.4 3.9-3.8v-.1c2-2.8 2.6-5.4 2.6-5.6.1-.5 0-.9-.2-1.4l-49.8-98zm41.2 105.6c-1 .6-1.8.9-2.5.7-.8-.2-1.3-1-1.3-1v-.1l-53.1-88.2c0-.1-.4-.7-.1-1.5.2-.7 1.1-2 4-3.5l18.5 32.1c.4.6 1 1 1.7 1 .3 0 .7-.1 1-.3 1-.6 1.3-1.8.7-2.7l-18.3-31.8c3.1-1.7 5-3.6 6.3-5.2l47.8 94.1c0 .1-.1.3-.2.5L246.8 272c-.5-1-1.7-1.3-2.7-.8-1 .5-1.3 1.7-.8 2.7l19.4 35.3c-.7.8-1.3 1.4-2.2 2zM322 132.2c-.5-.6-1.4-.8-2.2-.6-.2.1-4.3 1.5-11.2-2.8-3.7-2.3-6.8-3-9.4-2.2-2.6.8-3.5 2.9-3.5 3.1l-42 94c-.2.4-1.1 2.5-.2 4.8.7 1.7 2.1 3.1 4.3 3.9 1.9.8 3.9 1 5.6 1 3.3 0 5.8-1 5.9-1 .4-.2.8-.5 1-.9l52-97c.4-.8.2-1.7-.3-2.3zm-54.9 96.6c-1 .3-3.1.7-5.4.4l15.1-33.5c.5-1 0-2.2-1-2.6-1-.5-2.2 0-2.6 1l-15.3 33.7c-.3-.3-.6-.6-.7-.9-.3-.8 0-1.6.1-1.7v-.1l42-94c0-.1.3-.7 1.2-.9.7-.2 2.3-.3 5.1 1.3L289.9 165c-.5 1 0 2.2 1 2.7.3.1.6.2.8.2.8 0 1.5-.4 1.8-1.2l15.6-33.2c3.1 1.5 5.8 2.1 7.8 2.2l-49.8 93.1zM246 122c.2.4 1.2 2.4 3.6 3.2.6.2 1.2.3 1.9.3 1.2 0 2.5-.4 3.9-1.1 5.4-2.9 7.2-8.6 7.3-8.9.1-.4.1-.9-.1-1.4l-42-101.7c-.3-.8-1.1-1.2-1.9-1.2-.8 0-1.6.6-1.8 1.3-.1.2-1.6 4.3-9.3 6.9-4.1 1.4-6.7 3.3-7.6 5.8-1 2.5.1 4.5.1 4.7L246 122zm-42.3-95.4c.3-.7 1.2-1.9 4.3-3.1l15.9 33.4c.3.7 1.1 1.1 1.8 1.1.3 0 .6-.1.9-.2 1-.5 1.4-1.7.9-2.7L211.7 22c3.2-1.5 5.3-3.2 6.6-4.7l40.2 97.6c-.4 1-1.4 2.9-3.1 4.5l-16.2-32.9c-.5-1-1.7-1.4-2.7-.9-1 .5-1.4 1.7-.9 2.7l16.4 33.2c-.4.1-.8.1-1.1 0-.8-.3-1.2-1.1-1.2-1.1v-.1l-45.9-92.2c-.2-.1-.5-.7-.1-1.5zM407.5 299H405v-2.5c0-1.1-.9-2-2-2s-2 .9-2 2v2.5h-2.5c-1.1 0-2 .9-2 2s.9 2 2 2h2.5v2.5c0 1.1.9 2 2 2s2-.9 2-2V303h2.5c1.1 0 2-.9 2-2s-.9-2-2-2zM120.7 210.7l2.7-2.7c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-2.7 2.7-2.7-2.7c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l2.7 2.7-2.7 2.7c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l2.7-2.7 2.7 2.7c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-2.7-2.7zM449.6 471.6c0-.1-3.1-14.1-4.8-23.1-1.3-7.2-1.4-11.7-1.4-13.1.9-1.8 4-8.2 3.1-14.2-.3-1.8-.3-3.2-.4-4.4-.2-3.1-.3-5.8-3.9-7.3-1.5-.6-2.9-1.2-4.2-1.6-1.5-.6-2.9-1.1-4-1.6-.6-.3-2-1-11.5 2.3l-.2.2c-.2.1-6.4 4.3-14.4 14.3-.4.5-1.9-1.6 10-13 .3-2.9-.6-6.7-.8-8.3-.5-3.1-4.9-6.6-6.2-7.6l-.6-.3c-4.9-1.5-16.8-4.4-20.3-.6-3.3 3.6-6.2 12.2-6.3 16.7 0 2 .1 6.4.3 10.9.2 4.5.3 9.3.3 12.6 0 2.5-.3 6.1-.7 9.5-.8 8.3-1.1 12.2.2 14 1.5 2.1 2.6 3.1 4.5 4.9.4.4.9.8 1.5 1.3 4.4 4.1 16.9-.9 25.3-7.8 4.6-3.8 9.1-7.9 12.4-11-.2-.7-.1-2 .4-4.9.7-4.4-.2-5.9-.2-5.9.2-.1.5-.1.8.2.8.6.9 2.6.3 5.9l-.1 3.6c.2 1.9.6 4.2 1.5 6.8l.9-1.5c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.4 2.3c.3.7.6 1.3.9 2l1.1-2.3c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-1.5 3c0 .1.1.1.1.2.3.5.6 1 .9 1.4l.5-1.1c.1-.3.5-.4.8-.3.3.1.4.5.3.8l-.8 1.7c2.6 3.9 4.6 6 6 7.5.7.8 1.3 1.3 1.6 1.8 1.3 2.1 4.1 6.3 4.2 6.5.4.6 1 .9 1.7.9.3 0 .5-.1.8-.2.8-.4 1.3-1.3 1.1-2.2z'/%3E%3Cg%3E%3Cpath class='st2' d='M124.4 419.2c-.4-.4-.9-.7-1.5-.7H121c.1-1.2.1-2.7-.6-4.1-3.9-7.8-10.3-14.1-17.2-16.9-4.7-1.9-7.1.1-8.3 2.1-2.8 4.5-8.2 7.1-13.4 9.7-2.3 1.1-4.4 2.1-6.3 3.3-2.1 1.3-3.1 2.3-3.3 5.3 0 .2 0 .4.1.6h-3.2c-.6 0-1.1.3-1.5.7s-.5 1-.5 1.6l4.3 27.5c.2 1 1 1.7 2 1.7h45.5c1 0 1.8-.7 2-1.7l4.3-27.5c.1-.6-.1-1.2-.5-1.6zM76 418.1c0-1.3 0-1.3 1.4-2.1 1.7-1.1 3.7-2.1 5.9-3.1 5.4-2.7 11.6-5.7 15-11.1.5-.8 1.1-1.4 3.5-.5 6 2.4 11.6 8 15.1 15 .3.5.2 1.4.2 2.3H75.9c.1-.2.1-.4.1-.5zm40.9 27.9H91v-.2l-1-9c-.1-1.1-1.1-1.9-2.2-1.8-1.1.1-1.9 1.1-1.8 2.2l1 8.8h-4.1L81 430.8c-.1-1.1-1.1-1.9-2.2-1.7-1.1.1-1.9 1.1-1.7 2.2l1.8 14.8h-4l-3.6-23.5h49.3l-3.7 23.4z'/%3E%3Ccircle class='st2' cx='98' cy='414' r='2'/%3E%3Ccircle class='st2' cx='104.5' cy='408.5' r='2.5'/%3E%3C/g%3E%3Cpath class='st2' d='M394.2 176c.6-3.2 1.2-6.1 3.9-7.7.8-.5 1.8-.5 2.9-.6 1.2-.1 2.6-.2 4-.9 1.5-.9 2.5-2.5 3.5-3.9.5-.8 1-1.6 1.5-2.1.3-.3.6-.6.8-.9 1.9-2 3.9-4.1 4.7-6.5.9-2.6.3-5.1-1.8-7.5 2.3-3.7-1.4-9.7-2.6-11.6-2.3-3.4-3.7-3.8-7.1-4.5l-.6-.1c-3.4-1.2-10.9 1.9-12.8 4.3-1.1 1.4-1.4 3.1-1.6 4.8-.2 1.2-.3 2.3-.8 3.2-.2.4-.5.7-.9 1-.6.5-1.3 1.1-1.6 2.4-.3 1.1.1 2.4.4 3.6.1.5.3 1 .3 1.3v2.7c.2 1.3.5 2.5.8 3.6.3.9.5 1.8.7 2.7.3 1.9-.1 2.6-.9 3.9-.4.8-1 1.7-1.5 3.1-.3.8-.4 1.5-.5 2-.2.9-.3 1.4-1.2 2.5-.6.4-3.2 2.2-3.8 2.6-.3.1-.6.4-.7.7-1.1 2.9.5 4.3 1.6 5.3.5.5 1 .9 1.3 1.5.2.5.3 1.1.4 1.7.1.9.3 1.9 1.1 2.6.1.1.2.2.3.2 1 .6 2.4.5 4.7-.3.4-.1.8-.3 1.2-.5.1 0 .2-.1.3-.2 2.8-2.1 3.4-5.4 4-8.4zM438.5 49.6l3.2-5.4c.9-1.6.4-3.6-1.1-4.5-1.6-.9-3.6-.4-4.5 1.1l-3.2 5.4-5.4-3.2c-1.6-.9-3.6-.4-4.5 1.1-.9 1.6-.4 3.6 1.1 4.5l5.4 3.2-3.2 5.4c-.9 1.6-.4 3.6 1.1 4.5.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5l3.2-5.4 5.4 3.2c.8.5 1.7.6 2.5.4.8-.2 1.6-.7 2-1.5.9-1.6.4-3.6-1.1-4.5l-5.4-3.2zM169 378.4l-2 .8-.8-2c-.3-.9-1.3-1.3-2.2-1-.9.3-1.3 1.3-1 2.2l.8 2-2 .8c-.9.3-1.3 1.3-1 2.2.3.9 1.3 1.3 2.2 1l2-.8.8 2c.3.9 1.3 1.3 2.2 1s1.3-1.3 1-2.2l-.8-2 2-.8c.9-.3 1.3-1.3 1-2.2-.3-.9-1.3-1.3-2.2-1z'/%3E%3C/g%3E%3C/svg%3E");


overflow-y: scroll;
}
#title
{
    height: 60% !important;
}
#title,#page2,#page3
{
    display: block;
    width: 100%;
    height: 80%;
}
.textarea
{
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bb9f00;
    backdrop-filter: blur(3px);
}
#page2,#page3
{
    padding: 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.text
{
    width: 50%;
    font-size: 4.5rem;
    color: rgb(0, 0, 0);
    font-family:Origin;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 64px;
    position: relative;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.349) 2px 2px 20px;
}
.text p 
{
    position: absolute;
    top:50%;
    left: 10%;
    transform: translateY(-50%);
}
.img
{
    width: 35%;
    height: 150%;
    transform: rotate(5deg);
    border: 10px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.349) 2px 2px 20px;;
    transition: filter 300ms ease-in;
    cursor: pointer;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size:200% 150%;
    -webkit-filter: sepia(20%);
            filter: sepia(20%) saturate(200%);
}
.img:hover
{
    filter: none;
}
#page3 .img
{
    transform: rotate(-5deg);
}